@model IEnumerable<GProvSample.Models.Site>

@{
    ViewBag.Title = "SiteMaster";
    
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Site Details
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index")"><i class="fa fa-globe"></i> @ViewBag.Title</a></li>
            <li class="active">Sites Details</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-8">
                <!-- Horizontal Form -->
                @Html.Partial("_CreateSiteMaster", new GProvSample.Models.Site())

                <!-- /.box -->
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">List of All Available Sites</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="siteTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.SiteCode)</th>
                                    <th>@Html.DisplayNameFor(model => model.SiteName)</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.SiteCode)</td>
                                        <td>@Html.DisplayFor(modelItem => item.SiteName)</td>
                                        <td>@Html.ActionLink("Edit", "ViewSite", "Site", new { Id = item.SiteID }, new { @class = "modal-link btn btn-success" })</td>
                                        @*<td><a href="@Url.Action("EditSite", new { Id= item.SiteID })"><span class="fa fa-edit"></span></a></td>*@
                                        <td><a href="@Url.Action("DeleteSite", new { Id= item.SiteID })"><span class="fa fa-trash"></span></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->

        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

@*<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-content">
    </div>
</div>*@

@section scripts{
    <script>
        $(function () {
            $("#siteTable").DataTable();
        });

        //$(function () {
        //    // Initialize numeric spinner input boxes
        //    //$(".numeric-spinner").spinedit();

        //    // Initalize modal dialog
        //    // attach modal-container bootstrap attributes to links with .modal-link class.
        //    // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
        //    $('body').on('click', '.modal-link', function (e) {
        //        e.preventDefault();
        //        $(this).attr('data-target', '#modal-container');
        //        $(this).attr('data-toggle', 'modal');
        //    });

        //    // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
        //    $('body').on('click', '.modal-close-btn', function () {
        //        $('#modal-container').modal('hide');
        //    });

        //    //clear modal cache, so that new content can be loaded
        //    $('#modal-container').on('hidden.bs.modal', function () {
        //        $(this).removeData('bs.modal');
        //    });

        //    $('#CancelModal').on('click', function () {
        //        return false;
        //    });
        //});
    </script>
}
